*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.back
{
    /* background-image: url("https://images.hdqwalls.com/download/snow-mountains-landscape-4k-q5-3840x2160.jpg");
    background-image: url("https://source.unsplash.com/collection/190727/1600x900");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%; */

    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(68, 190, 68, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
    width: 100%;
}
label
{
    color: black;
}
.borders
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 210px auto;
}
button
{
    width: 100%;
}
span
{
    color:#df3349;
}
form
{
    padding: 49px 30px;
    background-color: #f2dfe3;
    border-radius: 10px;
    position: relative;
}
p
{
    font-size: 30px;
    word-break: normal;
    color: black;
    margin-bottom: 35px;
}
p::after
{
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: black;
    left: 50%;
    margin-left: -40px;
    margin-top: 7px;
}
button
{
    height: 35px;
    border-radius: 2px;
    color: white;
    background-color:#df3349!important;
    outline: none!important;
    border: none!important;
    margin-top: 50px;
}
button:hover
{
    background-color:  #df2f46!important;
    outline: none!important;
    border: none!important;

}
@media only screen and (min-width: 320px) and (max-width:375px) {
    p
    {
        font-size: 16px!important;
        word-break: normal;
    }
}

@media only screen and (min-width: 375px) {
    p
    {
        font-size: 20px!important;
        word-break: normal;
    }
}

i
{
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 30px!important;
    color: black!important;
}